USE [master]
GO
/****** Object:  Database [Album]    Script Date: 15/7/2026 07:53:27 ******/
CREATE DATABASE [Album]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album]
GO
/****** Object:  User [alumno]    Script Date: 15/7/2026 07:53:27 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[FiguritaUsuario]    Script Date: 15/7/2026 07:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiguritaUsuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idJugador] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Pegada] [bit] NOT NULL,
 CONSTRAINT [PK_FiguritaUsuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 15/7/2026 07:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdSeleccion] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Numero] [int] NOT NULL,
	[Posicion] [varchar](50) NOT NULL,
	[Foto] [varchar](max) NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecciones]    Script Date: 15/7/2026 07:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Grupo] [varchar](50) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([ID], [IdSeleccion], [Nombre], [Numero], [Posicion], [Foto]) VALUES (1, 1, N'MESSI', 10, N'Delantero', N'messi.svg')
INSERT [dbo].[Jugadores] ([ID], [IdSeleccion], [Nombre], [Numero], [Posicion], [Foto]) VALUES (2, 1, N'ÁLVAREZ', 9, N'Delantero', N'alvarez.svg')
INSERT [dbo].[Jugadores] ([ID], [IdSeleccion], [Nombre], [Numero], [Posicion], [Foto]) VALUES (3, 1, N'E. MARTÍNEZ', 23, N'Arquero', N'emiliano.svg')
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Selecciones] ON 

INSERT [dbo].[Selecciones] ([ID], [Grupo], [Pais]) VALUES (1, N'A', N'Argentina')
INSERT [dbo].[Selecciones] ([ID], [Grupo], [Pais]) VALUES (2, N'B', N'Brasil')
INSERT [dbo].[Selecciones] ([ID], [Grupo], [Pais]) VALUES (3, N'C', N'España')
SET IDENTITY_INSERT [dbo].[Selecciones] OFF
GO
ALTER TABLE [dbo].[FiguritaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_FiguritaUsuario_Jugadores] FOREIGN KEY([idJugador])
REFERENCES [dbo].[Jugadores] ([ID])
GO
ALTER TABLE [dbo].[FiguritaUsuario] CHECK CONSTRAINT [FK_FiguritaUsuario_Jugadores]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Selecciones] FOREIGN KEY([IdSeleccion])
REFERENCES [dbo].[Selecciones] ([ID])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Selecciones]
GO
USE [master]
GO
