@{
    ViewData["Title"] = "Inicio";
}

<div class="inicio">

    <h1>Álbum del Mundial</h1>

    <a href='@Url.Action("AbrirSobre","Home")' class="boton">
        Abrir Sobre
    </a>

    <a href='@Url.Action("Album","Home")' class="boton">
        Ver Álbum
    </a>

</div>