<h1>Álbum del Mundial</h1>

<div class="menu">

    <a href='@Url.Action("AbrirSobre","Home")'>
        Abrir Sobre
    </a>

    <a href='@Url.Action("Album","Home")'>
        Ver Álbum
    </a>

</div>
